#  Midterm TEST 1B 2024 
## Name <font color='red'> Santino Sini </font>
## Date <font color='red'> 3/6/2024 </font>
## Course<font color='red'> CSC305 CSC405 </font>
## Run the given code when requested, provide code when requested in the code cells, and answer questions inserting responses in appropriate place (red font or ?)


# Available Information about Data:
* Process trajectory data recorded as GPS trace
* Real data sets recorded by people carrying GPS enabled devices
* Data available over multiple years for people traveling in different modes like walking, riding bus etc.
* Most important part of data is latitude, longitude sequence with timestamp for each pair (forms trajectory data)
* Several interesting problems in Activity Monitoring are naturally related to such data sets  

* A smaller data set named "MysteriousData2" is provided along with this notebook

# Task 2:  Libraries

In [1]:
import pandas as pd  #imports the "pandas" library
import sqlite3



1. Why do we need the "sqlite3" library?

<font color='red'> We use that to create and modify the SQ Lite database. </font>
_________________________________



2. Very often we also import the "os" library to make file access and manipulation easier

Write the code to import "os" library into the next cell and run it.

In [2]:
import os

# Task 2:  Identifying a File in a Hierarchical Directory, Creating a Database and Loading csv files into Tables (Database Tables) 

Steps :
* Choose the first file from two csv files for user 121
* Store file name as string 
* Construct as a string the full path to this file in the directory hierarchy 
* Specify file identification as a string by concatenating the path with file name
* create database
* load content of the file 1 into database table  'Points_User121_Table1'

### Construct and Run the appropriate  code:

In [3]:
# ?
fileName1 = '200910051028v2.csv'
path = './MysteriousData2/121/'
FileIdentification1 = os.path.join(path, fileName1)
Points_User121_Table1 = pd.read_csv(FileIdentification1)

conn = sqlite3.connect('geolife.db')

Points_User121_Table1.to_sql('Points_User121_Table1', conn, if_exists='replace', index=False)

569

#### F) Generalizations

# Task 3: Reading Content from Tables (Database Tables) 



#### C) Create and run the appropriate code read and display first 5 rows of the table Points_User120_Table1

In [4]:
#?
Points_User121_Table1.head

#or

query = "SELECT * FROM Points_User121_Table1 LIMIT 5"
first_five_rows = pd.read_sql_query(query, conn)

# Display the first 5 rows
print(first_five_rows)

   Order   Latitude   Longitude  Unused     Date      Time
0      0  39.180741  117.143490       0  10/5/09  10:28:28
1      1  39.180634  117.143428       0  10/5/09  10:28:33
2      2  39.180551  117.143343       0  10/5/09  10:28:38
3      3  39.180478  117.143261       0  10/5/09  10:28:43
4      4  39.180337  117.143144       0  10/5/09  10:28:48

#### D) Output Understanding:

3.1. What are column names?

<font color='red'> Order, Latitude, Longitude, Unused, Date, Time </font>
_________________________________

3.2 
* load content of the file 2 into database table  'Points_User121_Table2'

In [5]:
# ?
fileName2 = '200910111153v2.csv'
path = './MysteriousData2/121/'
FileIdentification2 = os.path.join(path, fileName2)
Points_User121_Table2 = pd.read_csv(FileIdentification2)

conn = sqlite3.connect('geolife.db')

Points_User121_Table2.to_sql('Points_User121_Table2', conn, if_exists='replace', index=False)

2456

# Task 4: Selecting Columns

* Create and run the appropriate code to select first two columns from the table 'Points_User121_Table2' and display first 5 rows of the result

In [6]:
# ?
first_two_columns = Points_User121_Table2.iloc[:, :2]

#or

query = "SELECT Latitude, Longitude FROM Points_User121_Table2 LIMIT 5"
result = pd.read_sql_query(query, conn)

print(result)

    Latitude   Longitude
0  39.980956  116.329595
1  39.980913  116.329603
2  39.980920  116.329612
3  39.980929  116.329621
4  39.980929  116.329621

# Task 5: Data Aggregations

5.1.  Create and run the appropriate code to count rows in 'Points_User121_Table1' and diplay the resulting number

In [7]:
# ?
Points_User121_Table1.shape[0]

#or

query = "SELECT COUNT(*) FROM Points_User121_Table1"
num_rows = pd.read_sql_query(query, conn)

print(num_rows)

   COUNT(*)
0       569

* Create and run the appropriate code to select to compute minimum value of lattitude in  the table 'Points_User121_Table2' and display first 5 rows of the result

In [8]:
query = "SELECT MIN(Latitude) as Min_Latitude FROM Points_User121_Table2"
min_latitude = pd.read_sql_query(query, conn)

print(min_latitude)

#and

query = "SELECT * FROM Points_User121_Table2 ORDER BY Latitude ASC LIMIT 5"
sorted_rows = pd.read_sql_query(query, conn)

print(sorted_rows)

   Min_Latitude
0     39.902494
   Order   Latitude   Longitude  Unused      Date      Time
0   1183  39.902494  116.391761       0  10/11/09  14:29:24
1   1184  39.902494  116.391761       0  10/11/09  14:29:27
2   1187  39.902497  116.391708       0  10/11/09  14:29:39
3   1185  39.902498  116.391756       0  10/11/09  14:29:29
4   1186  39.902507  116.391726       0  10/11/09  14:29:34

# Task 6: Selecting Rows

* Create and run the appropriate code to select the rows with the values of the attribute "Order" BETWEEN 0 AND 2  in  the table 'Points_User121_Table1' and display them

In [9]:
# ?
query = "SELECT * FROM Points_User121_Table1 WHERE `Order` BETWEEN 0 AND 2"
selected_rows = pd.read_sql_query(query, conn)

print(selected_rows)

   Order   Latitude   Longitude  Unused     Date      Time
0      0  39.180741  117.143490       0  10/5/09  10:28:28
1      1  39.180634  117.143428       0  10/5/09  10:28:33
2      2  39.180551  117.143343       0  10/5/09  10:28:38

* Create and run the appropriate code to select the rows with the values of the attribute "Latitude" > 42.4' or "Latitude" < 41.4'  in  the table 'Points_User121_Table1' and display such rows

In [10]:
# ?
query = "SELECT * FROM Points_User121_Table1 WHERE Latitude > 42.4 OR Latitude < 41.4"
selected_rows = pd.read_sql_query(query, conn)

print(selected_rows)

     Order   Latitude   Longitude  Unused     Date      Time
0        0  39.180741  117.143490       0  10/5/09  10:28:28
1        1  39.180634  117.143428       0  10/5/09  10:28:33
2        2  39.180551  117.143343       0  10/5/09  10:28:38
3        3  39.180478  117.143261       0  10/5/09  10:28:43
4        4  39.180337  117.143144       0  10/5/09  10:28:48
..     ...        ...         ...     ...      ...       ...
564    564  39.181190  117.143998       0  10/5/09  11:58:42
565    565  39.181147  117.144037       0  10/5/09  11:58:47
566    566  39.181153  117.144059       0  10/5/09  11:58:52
567    567  39.181115  117.144096       0  10/5/09  11:58:57
568    568  39.181031  117.144189       0  10/5/09  11:59:02

[569 rows x 6 columns]

#### D) Output Understanding:

7.1. How many rows were selected?

<font color='red'> 569 </font>
_____________________________